Repository helfi92/taskcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taskcluster/services-reviewers, @taskcluster/frontend-reviewers, @taskcluster/worker-reviewers, @taskcluster/python-reviewers, @taskcluster/security-folks

.github/CODEOWNERS:

# see http://code.v.igoro.us/posts/2019/07/codeowners.html

* @taskcluster/services-reviewers

# frontend stuff
services/web-server @taskcluster/frontend-reviewers
clients/client-web @taskcluster/frontend-reviewers
ui @taskcluster/frontend-reviewers

# worker stuff
workers/** @taskcluster/worker-reviewers
tools/** @taskcluster/worker-reviewers
internal/** @taskcluster/worker-reviewers

# python
clients/client-py @taskcluster/python-reviewers

# db stuff
db/versions @taskcluster/security-folks
libraries/postgres/src/Database.js

# exceptions to the above
ui/docs @taskcluster/services-reviewers

# changelogs should not pull in reviewers
changelog/**

# generated stuff that does not need review (this is similar to /.gitattributes)
generated/**
clients/client-web/src/clients/**
clients/client-py/taskcluster/generated/**
clients/client-py/README.md
clients/client/src/apis.js
services/*/Procfile
infrastructure/k8s/templates/**
clients/client-shell/apis/services.go
clients/client-go/tc*/**
go.mod
go.sum
workers/generic-worker/generated_*.go

chore(deps): update github.com/flaque/filet commit hash to 45f6844
  go.mod
  go.sum
Owners: none

yarn generate
  ui/yarn.lock
Owners: @taskcluster/frontend-reviewers

chore(deps): update module aws/aws-sdk-go to v1.35.8
  go.mod
  go.sum
Owners: none

Add changelog
  changelog/issue-3639.md
Owners: none

Add changelog
  changelog/issue-3659.md
Owners: none

chore(deps): update dependency zurvan to ^0.8.0
  package.json
  yarn.lock
Owners: @taskcluster/services-reviewers

go sum update
  go.sum
Owners: none

yarn minify
  yarn.lock
Owners: @taskcluster/services-reviewers

Allow serviceDiscoveryScheme to be in default config
  changelog/issue-3631.md
  clients/client/src/client.js
Owners: @taskcluster/services-reviewers

chore(deps): update dependency webpack-cli to v3.3.12
  clients/client-web/yarn.lock
  ui/yarn.lock
Owners: @taskcluster/frontend-reviewers

chore(deps): update dependency moment to v2.29.1
  yarn.lock
Owners: @taskcluster/services-reviewers

chore(deps): update dependency webpack to v4.44.2
  ui/yarn.lock
Owners: @taskcluster/frontend-reviewers

Add anonymous scopes to services
  services/built-in-workers/scopes.yml
  services/github/scopes.yml
  services/hooks/scopes.yml
  services/index/scopes.yml
  services/web-server/scopes.yml
  services/worker-manager/scopes.yml
Owners: @taskcluster/services-reviewers, @taskcluster/frontend-reviewers

yarn generate
  services/auth/src/static-scopes.json
Owners: @taskcluster/services-reviewers

Add simple upload API
  db/test/fns/object_test.js
  db/test/versions/0056_test.js
  db/versions/0055.yml
  services/object/src/api.js
  services/object/test/api_test.js
  services/object/test/helper.js
Owners: @taskcluster/services-reviewers, @taskcluster/security-folks

yarn generate
  clients/client-go/tcobject/tcobject.go
  clients/client-py/taskcluster/generated/aio/object.py
  clients/client-py/taskcluster/generated/object.py
  clients/client-shell/apis/services.go
  clients/client-web/src/clients/Object.js
  clients/client/src/apis.js
  db/fns.md
  db/versions/README.md
  generated/db-schema.json
  generated/references.json
Owners: @taskcluster/services-reviewers, @taskcluster/security-folks

Add silent changelog
  changelog/issue-3715.md
Owners: none
