Repository helfi92/taskcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taskcluster/services-reviewers, @taskcluster/frontend-reviewers, @taskcluster/worker-reviewers, @taskcluster/python-reviewers, @taskcluster/security-folks

bug 1633582 - fix google provider disk tagging
  changelog/bug-1633582.md
  services/worker-manager/src/providers/google.js
Owners: @taskcluster/services-reviewers

Bug 1637982 - disallow attempts to complete non-running runs
  changelog/bug-1637982.md
  services/queue/src/api.js
  services/queue/test/resolvetask_test.js
Owners: @taskcluster/services-reviewers

Return correct dependency value for docker-worker artifact
  infrastructure/tooling/src/publish/tasks.js
Owners: @taskcluster/services-reviewers

Bug 1638002 - use region zone as workerGroup in AWS
  services/worker-manager/src/providers/aws.js
  services/worker-manager/test/fake-aws.js
  services/worker-manager/test/provider_aws_test.js
  ui/docs/reference/core/worker-manager/aws.mdx
Owners: @taskcluster/services-reviewers

Upgrade console-taskgraph
  package.json
  yarn.lock
Owners: @taskcluster/services-reviewers

Bug 1636174 - Add GITHUB_* env variables to docker-worker tasks
  .taskcluster.yml
  changelog/bug-1636174.md
  workers/docker-worker/test/images/ci/bin/entrypoint
Owners: @taskcluster/services-reviewers, @taskcluster/worker-reviewers

changelog
  changelog/bug-1638002.md
Owners: none

Yarn lint
  workers/docker-worker/test/fixtures/aws_metadata.js
  workers/docker-worker/test/fixtures/create_images.js
  workers/docker-worker/test/fixtures/monitor.js
Owners: @taskcluster/worker-reviewers

newline
  generated/references.json
Owners: none

Remove unecessary file test.sh
  workers/docker-worker/README.md
  workers/docker-worker/package.json
  workers/docker-worker/scopes.txt
  workers/docker-worker/test/test.sh
Owners: @taskcluster/worker-reviewers

Fixed intermittent test 'docker image with manifest.json file'
  workers/docker-worker/src/lib/volume_cache.js
  workers/docker-worker/test/integration/docker_manifest_test.js
  workers/docker-worker/test/integration/file_artifact_test.js
  workers/docker-worker/test/integration/header_footer_logs_test.js
  workers/docker-worker/test/integration/helper/wait_task_completion.js
  workers/docker-worker/test/localworker.js
Owners: @taskcluster/worker-reviewers

Remove manual timeout in package.json
  workers/docker-worker/package.json
Owners: @taskcluster/worker-reviewers

Fix one integration test
  workers/docker-worker/test/integration/header_footer_logs_test.js
Owners: @taskcluster/worker-reviewers

Build docker-worker tarballs in an environment that can compile extensions
  changelog/issue-2808.md
  workers/docker-worker/test/integration/docker_manifest_test.js
Owners: @taskcluster/worker-reviewers

lint fixes wip
  workers/docker-worker/src/lib/docker/docker_image.js
  workers/docker-worker/src/lib/task.js
  workers/docker-worker/src/lib/task_listener.js
  workers/docker-worker/src/lib/volume_cache.js
Owners: @taskcluster/worker-reviewers

Revert task to 10 in tests
  workers/docker-worker/test/integration/isolated_mode_test.js
Owners: @taskcluster/worker-reviewers

yarn install
  yarn.lock
Owners: @taskcluster/services-reviewers

Fix Buffer.from args type
  workers/docker-worker/test/integration/docker_save_test.js
Owners: @taskcluster/worker-reviewers

Prefer .mocharc.yml rather than test/mocha.opts
  workers/docker-worker/.mocharc.yml
  workers/docker-worker/test/mocha.opts
Owners: @taskcluster/worker-reviewers

nit
  workers/docker-worker/test/mocha.opts
Owners: @taskcluster/worker-reviewers

wip
  workers/docker-worker/test/integration/docker_manifest_test.js
Owners: @taskcluster/worker-reviewers

wip
  workers/docker-worker/test/integration/docker_manifest_test.js
Owners: @taskcluster/worker-reviewers

Preliminary lint fixes
  workers/docker-worker/src/bin/worker.js
  workers/docker-worker/src/lib/features/chain_of_trust.js
  workers/docker-worker/src/lib/features/docker_save.js
  workers/docker-worker/src/lib/host/packet.js
  workers/docker-worker/src/lib/task.js
  workers/docker-worker/src/lib/task_listener.js
  workers/docker-worker/src/lib/wait_for_port.js
  workers/docker-worker/test/fixtures/aws_metadata.js
  workers/docker-worker/test/integration/docker_save_test.js
  workers/docker-worker/test/integration/interactive_test.js
  workers/docker-worker/test/reclaimer_test.js
  workers/docker-worker/test/upload_to_s3_test.js
Owners: @taskcluster/worker-reviewers

test: increase timeout to 50s
  workers/docker-worker/package.json
Owners: @taskcluster/worker-reviewers

Fix broken test
  workers/docker-worker/test/integration/docker_manifest_test.js
Owners: @taskcluster/worker-reviewers

yarn install
  yarn.lock
Owners: @taskcluster/services-reviewers

try this
  workers/docker-worker/src/lib/devices/device_manager.js
  workers/docker-worker/src/lib/gc.js
  workers/docker-worker/src/lib/runtime.js
  workers/docker-worker/src/lib/task.js
  workers/docker-worker/test/integration/docker_save_test.js
Owners: @taskcluster/worker-reviewers

Avoid timeout in 'cycle through cores'
  workers/docker-worker/test/integration/isolated_mode_test.js
Owners: @taskcluster/worker-reviewers

Add hashed_session_id to db (primary key)
  db/tables.yml
  db/test/fns/web_server_test.js
  db/versions/0031-migration.sql
  db/versions/0031.yml
  services/web-server/src/login/PostgresSessionStore.js
  services/web-server/src/servers/createApp.js
  services/web-server/test/session_store_test.js
Owners: @taskcluster/services-reviewers, @taskcluster/security-folks, @taskcluster/frontend-reviewers

chore(deps): update dependency zen-observable to v0.8.15
  yarn.lock
Owners: @taskcluster/services-reviewers

Ensure taskDefined messages are marked unscheduled
  services/queue/src/api.js
  services/queue/test/createtask_test.js
Owners: @taskcluster/services-reviewers

chore(deps): update dependency node-fetch to v2.6.1
  ui/yarn.lock
Owners: @taskcluster/frontend-reviewers

Fix groupHref holding an incorrect URL
  services/notify/src/handler.js
Owners: @taskcluster/services-reviewers

fix(deps): update dependency taskcluster-client to v37
  workers/docker-worker/package.json
  workers/docker-worker/yarn.lock
Owners: @taskcluster/worker-reviewers

Always pass options directly to client constructors
  workers/docker-worker/test/dockerworker.js
  workers/docker-worker/test/garbage_collection_test.js
  workers/docker-worker/test/integration/container_volume_caching_test.js
  workers/docker-worker/test/integration/docker_save_test.js
  workers/docker-worker/test/integration/file_artifact_test.js
  workers/docker-worker/test/integration/logging/local_live_log_test.js
  workers/docker-worker/test/integration/logging/secure_local_live_logging_test.js
Owners: @taskcluster/worker-reviewers

chore(deps): update golang.org/x/net commit hash to 4f7140c
  go.mod
  go.sum
Owners: none

go.sum fix
  go.sum
Owners: none

yarn minify
  clients/client-web/yarn.lock
Owners: @taskcluster/frontend-reviewers

chore(deps): update module elastic/go-sysinfo to v1.4.0
  go.mod
  go.sum
Owners: none

Update changelog wording
  changelog/issue-3659.md
Owners: none

.github/CODEOWNERS:

# see http://code.v.igoro.us/posts/2019/07/codeowners.html

* @taskcluster/services-reviewers

# frontend stuff
services/web-server @taskcluster/frontend-reviewers
clients/client-web @taskcluster/frontend-reviewers
ui @taskcluster/frontend-reviewers

# worker stuff
workers/** @taskcluster/worker-reviewers
tools/** @taskcluster/worker-reviewers
internal/** @taskcluster/worker-reviewers

# python
clients/client-py @taskcluster/python-reviewers

# db stuff
db/versions @taskcluster/security-folks
libraries/postgres/src/Database.js

# exceptions to the above
ui/docs @taskcluster/services-reviewers

# changelogs should not pull in reviewers
changelog/**

# generated stuff that does not need review (this is similar to /.gitattributes)
generated/**
clients/client-web/src/clients/**
clients/client-py/taskcluster/generated/**
clients/client-py/README.md
clients/client/src/apis.js
services/*/Procfile
infrastructure/k8s/templates/**
clients/client-shell/apis/services.go
clients/client-go/tc*/**
go.mod
go.sum
workers/generic-worker/generated_*.go
