Repository helfi92/taskcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taskcluster/services-reviewers, @taskcluster/frontend-reviewers, @taskcluster/worker-reviewers, @taskcluster/python-reviewers, @taskcluster/security-folks

Add another argument to db scan method
  libraries/entities/src/index.js
  libraries/entities/test/db/versions/0001.yml
  libraries/entities/test/entity_scan_test.js
Owners: @taskcluster/services-reviewers

Add heapdump feature
  infrastructure/tooling/src/importer/index.js
  package.json
  yarn.lock
Owners: @taskcluster/services-reviewers

Redefine Database object every 5 mins
  infrastructure/tooling/src/importer/importer.js
  infrastructure/tooling/src/importer/index.js
Owners: @taskcluster/services-reviewers

Do nothing on conflict when running importer
  infrastructure/tooling/src/importer/util.js
Owners: @taskcluster/services-reviewers

Uncomment signed/encrypted tables
  infrastructure/tooling/src/importer/util.js
Owners: @taskcluster/services-reviewers

Add guidelines for migrating from tc-lib-entities tables
  dev-docs/postgres-phase-2-guidelines.md
Owners: @taskcluster/services-reviewers

Add service migration section guidelines
  dev-docs/postgres-phase-2-guidelines.md
Owners: @taskcluster/services-reviewers

Do not publish packages until GitHub release is complete
  infrastructure/tooling/src/publish/tasks.js
Owners: @taskcluster/services-reviewers

Generate a release tarball for docker-worker
  tools/worker-runner/worker/dockerworker/dockerworker.go
  tools/worker-runner/worker/dockerworker/dockerworker_test.go
  ui/docs/reference/workers/docker-worker/deployment.md
  ui/docs/reference/workers/worker-runner/workers.mdx
  workers/docker-worker/release.sh
Owners: @taskcluster/worker-reviewers, @taskcluster/services-reviewers

Include the docker tarball in the GH release
  changelog/issue-2788.md
  infrastructure/tooling/src/publish/tasks.js
Owners: @taskcluster/services-reviewers

Update golang.org/x/tools commit hash to 1762287
  go.mod
  go.sum
Owners: none

Bug 1636163: Show docker-worker docs on website
  changelog/bug-1636163.md
  generated/docs-search.json
  generated/docs-table-of-contents.json
  ui/docs/reference/workers/docker-worker/README.mdx
  ui/docs/reference/workers/docker-worker/caches.mdx
  ui/docs/reference/workers/docker-worker/environment.mdx
  ui/docs/reference/workers/docker-worker/features.mdx
  ui/docs/reference/workers/docker-worker/payload.mdx
  ui/docs/reference/workers/docker-worker/scopes.mdx
Owners: @taskcluster/services-reviewers

add an example worker-runner config file to the docs
  changelog/d5t5GMHkT0642Jy2B5oFsA.md
  generated/docs-search.json
  ui/docs/reference/workers/worker-runner/runner-configuration.mdx
Owners: @taskcluster/services-reviewers

Generate a release tarball for docker-worker
  ui/docs/reference/workers/docker-worker/deployment.md
Owners: @taskcluster/services-reviewers

Remove empty files from docs
  generated/docs-table-of-contents.json
  ui/docs/reference/workers/worker-runner/linux-services.mdx
  ui/docs/reference/workers/worker-runner/windows-services.mdx
Owners: @taskcluster/services-reviewers

Do not publish packages until GitHub release is complete
  infrastructure/tooling/src/publish/tasks.js
Owners: @taskcluster/services-reviewers

Include the docker tarball in the GH release
  infrastructure/tooling/src/publish/tasks.js
Owners: @taskcluster/services-reviewers

Bug 1636189 - serve DockerFlow /__version__ from websocktunnel
  changelog/bug-1636189.md
  tools/websocktunnel/wsproxy/proxy.go
  tools/websocktunnel/wsproxy/proxy_test.go
Owners: @taskcluster/worker-reviewers

Re-enable tc-proxy release assets
  infrastructure/tooling/src/publish/tasks.js
  tools/taskcluster-proxy/.gitignore
Owners: @taskcluster/services-reviewers, @taskcluster/worker-reviewers

Bug 1637104 - use static binaries in utility docker images
  changelog/bug-1637104.md
  infrastructure/tooling/src/publish/tasks.js
Owners: @taskcluster/services-reviewers

Bug 1636165 - show docker-worker version in --version and log header
  changelog/bug-1636165.md
  ui/docs/reference/workers/docker-worker/deployment.md
  workers/docker-worker/src/bin/worker.js
  workers/docker-worker/src/lib/task.js
Owners: @taskcluster/services-reviewers, @taskcluster/worker-reviewers

Show proxy version using internal.Version
  tools/taskcluster-proxy/main.go
Owners: @taskcluster/worker-reviewers

Bug 1636189 - include /app/version.json in all docker images
  Dockerfile
  infrastructure/tooling/src/build/monoimage.js
  infrastructure/tooling/src/publish/tasks.js
  infrastructure/tooling/src/utils/dockerflow.js
  infrastructure/tooling/src/utils/index.js
Owners: @taskcluster/services-reviewers

changelog
  changelog/issue-2739.md
Owners: none

Add lint command in docker-worker package.json
  .taskcluster.yml
  workers/docker-worker/package.json
Owners: @taskcluster/services-reviewers, @taskcluster/worker-reviewers

Build docker-worker tarballs in an environment that can compile extensions
  changelog/issue-2808.md
  infrastructure/tooling/src/publish/tasks.js
  workers/docker-worker/release.sh
Owners: @taskcluster/services-reviewers, @taskcluster/worker-reviewers

v29.5.2
  CHANGELOG.md
  changelog/HKjpNI1AQaSeXayUYHS5Gw.md
  clients/client-py/setup.py
  clients/client-shell/README.md
  clients/client-shell/cmds/version/version.go
  clients/client-web/package.json
  clients/client/package.json
  db/package.json
  infrastructure/k8s/Chart.yaml
  infrastructure/k8s/values.yaml
  infrastructure/tooling/current-release.yml
  internal/version.go
  libraries/api/package.json
  libraries/app/package.json
  libraries/azqueue/package.json
  libraries/azure/package.json
  libraries/config/package.json
  libraries/entities/package.json
  libraries/iterate/package.json
  libraries/loader/package.json
  libraries/monitor/package.json
  libraries/postgres/package.json
  libraries/pulse/package.json
  libraries/references/package.json
  libraries/testing/package.json
  libraries/validate/package.json
  package.json
  services/auth/package.json
  services/built-in-workers/package.json
  services/github/package.json
  services/hooks/package.json
  services/index/package.json
  services/notify/package.json
  services/purge-cache/package.json
  services/queue/package.json
  services/secrets/package.json
  services/web-server/package.json
  services/worker-manager/package.json
  ui/package.json
  workers/docker-worker/package.json
Owners: @taskcluster/services-reviewers, @taskcluster/python-reviewers, @taskcluster/frontend-reviewers, @taskcluster/worker-reviewers

bug 1633582 - another fix to google provider disks
  services/worker-manager/src/providers/google.js
Owners: @taskcluster/services-reviewers

Use taskcluster/worker-ci 0.4.3 in docker-worker CI
  .taskcluster.yml
Owners: @taskcluster/services-reviewers

Bug 1638002 - use location as workerGroup in Azure
  services/worker-manager/src/providers/azure.js
  services/worker-manager/test/provider_azure_test.js
  ui/docs/reference/core/worker-manager/azure.mdx
Owners: @taskcluster/services-reviewers

Remove a no-longer-true line from readme
  README.md
  changelog/HKjpNI1AQaSeXayUYHS5Gw.md
Owners: @taskcluster/services-reviewers

allow for ssh:// source urls
  changelog/issue-2811.md
  services/queue/schemas/constants.yml
  services/queue/test/createtask_test.js
Owners: @taskcluster/services-reviewers

Use taskcluster/worker-ci 0.4.4 in docker-worker CI
  .taskcluster.yml
  workers/docker-worker-deploy
  workers/docker-worker/test/images/ci/VERSION
  workers/docker-worker/test/images/ci/bin/entrypoint
Owners: @taskcluster/services-reviewers, @taskcluster/worker-reviewers

v29.5.1
  CHANGELOG.md
  clients/client-py/setup.py
  clients/client-shell/README.md
  clients/client-shell/cmds/version/version.go
  clients/client-web/package.json
  clients/client/package.json
  db/package.json
  infrastructure/k8s/Chart.yaml
  infrastructure/k8s/values.yaml
  infrastructure/tooling/current-release.yml
  internal/version.go
  libraries/api/package.json
  libraries/app/package.json
  libraries/azqueue/package.json
  libraries/azure/package.json
  libraries/config/package.json
  libraries/entities/package.json
  libraries/iterate/package.json
  libraries/loader/package.json
  libraries/monitor/package.json
  libraries/postgres/package.json
  libraries/pulse/package.json
  libraries/references/package.json
  libraries/testing/package.json
  libraries/validate/package.json
  package.json
  services/auth/package.json
  services/built-in-workers/package.json
  services/github/package.json
  services/hooks/package.json
  services/index/package.json
  services/notify/package.json
  services/purge-cache/package.json
  services/queue/package.json
  services/secrets/package.json
  services/web-server/package.json
  services/worker-manager/package.json
  ui/package.json
  workers/docker-worker/package.json
Owners: @taskcluster/services-reviewers, @taskcluster/python-reviewers, @taskcluster/frontend-reviewers, @taskcluster/worker-reviewers

Bumped taskcluster/worker-ci version number
  workers/docker-worker/test/images/ci/VERSION
Owners: @taskcluster/worker-reviewers

Bug 1638002 - use region as workerGroup in Google
  services/worker-manager/src/providers/google.js
  services/worker-manager/test/provider_google_test.js
  ui/docs/reference/core/worker-manager/google.mdx
Owners: @taskcluster/services-reviewers

Remove while loop around yarn install
  .taskcluster.yml
Owners: @taskcluster/services-reviewers

Update dependency @azure/ms-rest-js to v2.0.7
  yarn.lock
Owners: @taskcluster/services-reviewers

add generated code diffs
  clients/client-go/tcqueue/types.go
  clients/client-go/tcqueueevents/types.go
  generated/references.json
Owners: none

Bug 1635897 - use repos.getCommit for getting releases' sha
  changelog/bug-1635897.md
  services/github/src/handlers.js
  services/github/test/github-auth.js
  services/github/test/handler_test.js
Owners: @taskcluster/services-reviewers

.github/CODEOWNERS:

# see http://code.v.igoro.us/posts/2019/07/codeowners.html

* @taskcluster/services-reviewers

# frontend stuff
services/web-server @taskcluster/frontend-reviewers
clients/client-web @taskcluster/frontend-reviewers
ui @taskcluster/frontend-reviewers

# worker stuff
workers/** @taskcluster/worker-reviewers
tools/** @taskcluster/worker-reviewers
internal/** @taskcluster/worker-reviewers

# python
clients/client-py @taskcluster/python-reviewers

# db stuff
db/versions @taskcluster/security-folks
libraries/postgres/src/Database.js

# exceptions to the above
ui/docs @taskcluster/services-reviewers

# changelogs should not pull in reviewers
changelog/**

# generated stuff that does not need review (this is similar to /.gitattributes)
generated/**
clients/client-web/src/clients/**
clients/client-py/taskcluster/generated/**
clients/client-py/README.md
clients/client/src/apis.js
services/*/Procfile
infrastructure/k8s/templates/**
clients/client-shell/apis/services.go
clients/client-go/tc*/**
go.mod
go.sum
workers/generic-worker/generated_*.go
